.title{
  padding: 2rem;
}
.input{
  padding-bottom: 0.5em;
}


._equation_entry{
  width: 60%;
  height: 48px;
}

._operation{
  width: 20%;
  padding-right: 0.5rem;
}

.calculate{
  width: 20%;
  height: 46px;
}
.preview{
  padding-left: 3em;
  padding-top: 3em;
  padding-bottom: 3em;
}
.results{
  padding-top: 3rem;
  padding-bottom: 1rem;
  .response{
    padding-left: 3em;
  }
}


.bottom{
  width: 10em;
  margin-left: 1rem;
}
.main{
  background: #f5f5f5 !important;
  padding-bottom: 5em;
  box-shadow: 8px 8px 5px #888888;
}
.side{
  background: dimgray;
  padding-top: 3em;
  box-shadow: 8px 8px 5px #888888;
  .card{
    background: linear-gradient(white,whitesmoke);
    margin-bottom: 2em;
    .card-text{
      padding-right: 0.5em;
      padding-left: 0.5em;
      padding-top: 1em;
      padding-bottom: 0.5em;
    }
    .btn-outline-success{
      margin-bottom: 1em;
    }
    .card-header.facts{
      background: crimson;
      color: #f5f5f5;
    }
    .card-header.quotes{
      background: midnightblue;
      color: #f5f5f5;
    }
  }
}
